body{
    background-color: rgb(191, 158, 130) !important;
    margin: 0 auto;
    padding: 0 auto; 
    
    /* background:border-box; */
}

.h1{
    color: black;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    text-shadow: 4px 4px 5px rgb(222, 27, 27);

}

.btn{
        /* height: 100px; */
         width: 150px; 
        font-size: 20px;
        background-color: lightgrey !important;
        padding: 15px 20px;
        border-radius: 5px;
        color: black !important;
        box-shadow: 10px 10px 15px rgb(16, 79, 225);
        text-decoration: none;
        font-weight: bold;
    }
.btn:hover{
        background-color: coral !important;
        color:aqua;
        
}
