body{
    background-color: black;
    margin: 0%;
    padding: 0;
}

.project{
    margin: 40px 0px 80px 0px; 
    color: rgb(43, 255, 0);
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;

}

.btn{
        margin-left: 10px;
        margin-right: 120px;
        font-size: 20px;
        background: transparent;
        padding: 15px 20px;
        border-radius: 5px;
        color: white;
        box-shadow: 10px 10px 15px pink;
    }
    .btn:hover{
        background-color: orange;
}